body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

hr {
    border: none;
    border-top: 3px double #000;
    overflow: visible;
    text-align: center;
    height: 5px;
    clear: both;
}

header {
    text-align: center;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.name {
    font-size: 14pt;
    font-weight: bold;
    float: left;
}

.linkedin {
    text-align: right;
    float: right;
    font-size: 9pt;
}

#recap {
    font-style: italic;
    text-align: left;
}

table.qualifications {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.company,
.school {
    font-weight: bold;
}

div:has(> .company),
div:has(> .school) {
    font-size: 12pt;
    text-decoration: underline;
}

.positions,
.degrees {
    margin-bottom: 15px;
    width: 100%;
}

.title,
.degree {
    margin-left: -2px;
}

.title,
.team,
.degree,
.subject {
    font-style: italic;
}

.skill_category {
    font-weight: bold;
}

.position_duration,
.degree_duration {
    text-align: right;
}

.responsibility>td {
    padding-left: 8px;
    padding-right: 8px;
}

.issuer {
    font-weight: bold;
}